.DS_Store
.DS_Store?
.Trashes
.htaccess
.project
disneyEnvironment.js
*.diff
demos/.htaccess
demos/environment.php
._.DS_Store
*.sublime-project
*.sublime-workspace
cellophane-config.php
target/*
.idea/*
*.iml
node_modules
._*

